{
  "swagger": "2.0",
  "info": {
    "description": "An API to support lodging objections to compulsory and voluntary strike offs",
    "version": "1.0.0",
    "title": "Companies House - Strike Off Objections API"
  },
  "host": "api.companieshouse.gov.uk",
  "basePath": "/company/{companyNumber}/strike-off-objections",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Strike Off Objections"
    }
  ],
  "paths": {
    "/eligibility": {
      "get": {
        "summary": "Returns information describing the strike-off eligibility of the company",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "an eligibility object has been returned successfully",
            "schema": {
              "$ref": "#/definitions/ObjectionEligibility"
            }
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/": {
      "post": {
        "summary": "Create a new strike-off objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Create",
            "schema": {
              "$ref": "#/definitions/Create"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "An objection has been created.",
            "schema": {
              "$ref": "#/definitions/ResourceCreated"
            }
          },
          "400": {
            "description": "Company is ineligible for objecting to strike off",
            "schema": {
              "$ref": "#/definitions/Ineligible"
            }
          }
        }
      }
    },
    "/{objectionId}": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        }
      ],
      "get": {
        "summary": "Returns the objection identified by objectionId",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "An objection has been returned successfully",
            "schema": {
              "$ref": "#/definitions/Objection"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates the strike-off objection identified by objectionId with the values provided. If status set to SUBMITTED, this will trigger the Objection processing.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Patch",
            "schema": {
              "$ref": "#/definitions/Patch"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "patched successfully"
          },
          "404": {
            "description": "objection not found"
          },
          "422": {
            "description": "Unable to process objection"
          }
        }
      }
    },
    "/{objectionId}/attachments": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get all attachments from the Objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "Attachments returned successfully. Note that if no attachments are associated with an objection then an empty list will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          },
          "404": {
            "description": "the Objection was not found"
          }
        }
      },
      "post": {
        "summary": "Add an attachment to the Objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "type": "file",
            "description": "A MultipartFile object containing file data",
            "required": true
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "201": {
            "description": "An attachment has been added to the Objection",
            "schema": {
              "$ref": "#/definitions/ResourceCreated"
            }
          },
          "400": {
            "description": "there was an error processing the request"
          },
          "404": {
            "description": "the Objection or attachment was not found"
          }
        }
      }
    },
    "/{objectionId}/attachments/{attachmentId}": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "description": "ID of the attachment",
          "type": "string"
        }
      ],
      "get": {
        "description": "get this attachment",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "the attachment was found",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "404": {
            "description": "Objection or attachment not found"
          }
        }
      },
      "delete": {
        "description": "Delete this attachment from the Objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "204": {
            "description": "the attachment was deleted"
          },
          "404": {
            "description": "Objection or attachment not found"
          }
        }
      }
    },
    "/{objectionId}/attachments/{attachmentId}/download": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "description": "ID of the attachment",
          "type": "string"
        }
      ],
      "get": {
        "description": "download this attachment",
        "produces": [
          "application/octet-stream"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "The attachment was found and download was successful",
            "schema": {
              "type": "file"
            }
          },
          "401": {
            "description": "Not authorised to download the attachment"
          },
          "403": {
            "description": "The attachment cannot be downloaded, e.g. the file is infected with a virus"
          },
          "404": {
            "description": "Objection or attachment not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Objection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "created_on": {
          "type": "string",
          "format": "date-time"
        },
        "created_by": {
          "$ref": "#/definitions/CreatedBy"
        },
        "company_number": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "properties": {
              "link": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      }
    },
    "ObjectionEligibility": {
      "type": "object",
      "properties": {
        "isEligible": {
          "type": "boolean"
        }
      }
    },
    "ResourceCreated": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "size": {
          "type": "number"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uri"
            },
            "download": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      }
    },
    "CreatedBy": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        }
      }
    },
    "Create": {
      "type": "object",
      "properties": {
        "fullName": {
          "type": "string"
        },
        "shareIdentity": {
          "type": "boolean"
        }
      }
    },
    "Patch": {
      "type": "object",
      "properties": {
        "fullName": {
          "type": "string"
        },
        "shareIdentity": {
          "type": "boolean"
        },
        "reason": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/Status"
        }
      }
    },
    "Ineligible": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "INELIGIBLE_COMPANY_STRUCK_OFF",
            "INELIGIBLE_NO_DISSOLUTION_ACTION"
          ]
        }
      }
    },
    "Status": {
      "type": "string",
      "enum": [
        "OPEN",
        "SUBMITTED",
        "PROCESSED",
        "INELIGIBLE_COMPANY_STRUCK_OFF",
        "INELIGIBLE_NO_DISSOLUTION_ACTION"
      ]
    }
  }
}
