{
  "swagger": "2.0",
  "info": {
    "description": "An API to support lodging objections to compulsory and voluntary strike offs",
    "version": "1.0.0",
    "title": "Companies House - Strike Off Objections API"
  },
  "host": "api.companieshouse.gov.uk",
  "basePath": "/company/{companyNumber}/strike-off-objections",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Strike Off Objections"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "Returns information describing the strike-off status of the company",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "a Status object has been returned successfully",
            "schema": {
              "$ref": "#/definitions/StrikeOffStatus"
            }
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/": {
      "post": {
        "summary": "Create a new strike-off objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "201": {
            "description": "An objection has been created.",
            "schema": {
              "$ref": "#/definitions/ResourceCreated"
            }
          }
        }
      }
    },
    "/{objectionId}": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        }
      ],
      "get": {
        "summary": "Returns the objection identified by objectionId",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "An objection has been returned successfully",
            "schema": {
              "$ref": "#/definitions/Objection"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates the strike-off objection identified by objectionId with the values provided",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Patch",
            "schema": {
              "$ref": "#/definitions/Patch"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "patched successfully"
          }
        }
      }
    },
    "/{objectionId}/attachments": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get all attachments from the Objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "Attachments returned successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          },
          "404": {
            "description": "the objection was not found"
          }
        }
      },
      "post": {
        "summary": "Add an attachment to the Objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "201": {
            "description": "An attachment has been added to the objection",
            "schema": {
              "$ref": "#/definitions/ResourceCreated"
            }
          },
          "400": {
            "description": "there was an error processing the request"
          },
          "404": {
            "description": "the objection or attachment was not found"
          }
        }
      }
    },
    "/{objectionId}/attachments/{attachmentId}": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "description": "ID of the attachment",
          "type": "string"
        }
      ],
      "get": {
        "description": "get this attachment",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "the attachment was found",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "404": {
            "description": "Objection or attachment not found"
          }
        }
      },
      "delete": {
        "description": "Delete this attachment from the Objection",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "204": {
            "description": "the attachment was deleted"
          },
          "404": {
            "description": "Objection or attachment not found"
          }
        }
      }
    },
    "/{objectionId}/attachments/{attachmentId}/download": {
      "parameters": [
        {
          "name": "objectionId",
          "in": "path",
          "required": true,
          "description": "ID of the Objection",
          "type": "string"
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "description": "ID of the attachment",
          "type": "string"
        }
      ],
      "get": {
        "description": "download this attachment",
        "produces": [
          "application/octet-stream"
        ],
        "tags": [
          "Strike Off Objections"
        ],
        "responses": {
          "200": {
            "description": "the attachment was found",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "Objection or attachment not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Objection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "created_on": {
          "type": "string",
          "format": "date-time"
        },
        "created_by": {
          "$ref": "#/definitions/CreatedBy"
        },
        "company_number": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "properties": {
              "link": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      }
    },
    "StrikeOffStatus": {
      "type": "object",
      "properties": {
        "isEligible": {
          "type": "boolean"
        },
        "strikeOffDate": {
          "type": "string"
        }
      }
    },
    "ResourceCreated": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "size": {
          "type": "number"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uri"
            },
            "download": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      }
    },
    "CreatedBy": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        }
      }
    },
    "Patch": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/Status"
        }
      }
    },
    "Status": {
      "type": "string",
      "enum": [
        "OPEN",
        "SUBMITTED",
        "PROCESSED"
      ]
    }
  }
}
